<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
</head>
<body>
<div class="wrapper">
        <div class="left">
        <h1 class="name">Assignments for 1006</h1>
        <h4 class="subtitle">COMS 1006: Introduction to Python</h4>
        </div>

        <div class="right">
        <p>Homework Descriptions: </p>
        <ul class="links">
            <li>
                <p>HW1: Parse the input from user and implement functions for list manipulation. </p>
            </li>
            <li>
                <p>HW2: Simulate the projectile's motion to determine its position.</p>
            </li>
            <li>
                <p>HW3: Implement solution for vertical percolation problem. </p>
            </li>
            <li>
                <p>HW4: Modeling of a class, consisting of a teacher, students, and assignments.</p>
            </li>
            <li>
                <p>HW5: Build a machine learning library for breast cancer prediction.</p>
            </li>
        </ul>
        </div>
    </div>
</body>
</html>