<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
<h2>Classes taken this semester</h2>
        <ul class="links">
            <li>
                <p>COMS 1006: Introduction to Python</p>
            </li>
            <li>
                <p>MATH 4061: Introduction to Modern Analysis</p>
            </li>
            <li>
                <p>COMS 4772: Advanced Machine Learning</p>
            </li>
            <li>
                <p>CSEE 3827: Fundamentals of Computer Systems</p>
            </li>
            <li>
                <p>IEOR 4106: Introduction to Stocastic Processes</p>
            </li>
            <li>
                <p>HUMA 1123: Masterpieces of Western Music</p>
            </li>
        </ul>
</body>
</html>