<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <div class="wrapper">
        <div class="left">
        <img class="profile-pic" src="/static/self.jpg" width="200"/>
        <h1 class="name">Yixuan Li (yl3803)</h1>
        <h4 class="subtitle">Junior student @Columbia University </h4>
        </div>

        <div class="right">
        <p class="bio">
          Computer Science student (Intelligence Systems track).
          Thanks for visiting my website.
        </p>

        <p>My favorite website is <a href="https://www.geeksforgeeks.org">GeeksforGeeks</a>.</p>
        <p>Relevant links: </p>
        <ul class="links">
            <li>
                <a href="assignment">Assignment</a>
            </li>
            <li>
                <a href="class">Class</a>
            </li>
        </ul>
        </div>
    </div>
    </body>
</html>

